.gitmodules
dataset/Images/val2014/*.jpg
dataset/original_zip_file
dataset/*.json
UpDn_VQA-master
.idea
.git

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac
.DS_Store
._.DS_Store

.ipynb_checkpoints

